body {
  margin: 0%;
  padding: 0%;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  flex: 1;
  background-color: darkslategrey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputHeader {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey;
}

.buttonHeader {
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
}

.todoList {
  flex: 3;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  color: white;
  margin: 15px;
}

.content {
  flex: 6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanTask {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 75%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: darkslategrey;
}

.spanDeadline {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 25%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: darkslategrey;
}

.buttonDelete {
  flex: 1;
  height: 100%;
  border: none;
  background-color: rgb(34, 59, 59);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  cursor: pointer;
}

@media (max-width: 450px) {
  .task {
    width: 350px;
  }

  .content {
    flex: 8;
  }

  .spanTask {
    width: 80%;
  }

  .spanDeadline {
    width: 20%;
  }
}
